body{
    background-image: url(https://images2.alphacoders.com/564/564835.jpg)
}
h1{
                color: #2e1801;
                font-weight:800;
                text-align: center;
            }
h2 {
                font-weight:600;
                color: #7a0526;
                text-align: left;
            }
h3{
                font-weight: 400;
                color:darkorchid;
                text-align: left;
}
h4{
                color: #66001e;
                font-weight: 300;
                text-align: left;
            }
ol li{
                color:aliceblue;
                font-weight: 200;
                text-align: left;
            }
table{
                border: 2px solid black;
                border-collapse: collapse;
                width: 50%;
                color: #fc8403;
                font-weight: bold;
                
            }

th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
                
            }

th {
                background-color: #4420c7;
            }
td {
                background-color: #0a6269;
            }
.grid {
                background-color: green;
                display: grid;
                padding: 20px;
                grid-column-gap: 20px;
                grid-row-gap: 10px;
                grid-template-columns: 200px 200px auto;
            }
.grid-item {
                background-color: white;
                font-size: 20px;
                padding: 20px;
                text-align: center;
            }