@media print {
                .grid {
                    display: none;
                }
                 .grid-item {
                     display: none;
                 }
                 .screen-only{
                     display: none;
                 }
            }